<div id="burndown"></div>
<script>
  $(function(){
    var chart;
    chart = new Highcharts.Chart({
      chart: {
      			renderTo: 'burndown',
      			type: 'line'
      		},
          credits: {
            enabled: false
          },
      		title: {
      			text: '<%= @sprint['name']%>',
            floating: true,
            align: 'right',
            y: 30
      		},
          legend: {
            enabled: false
          },
      		tooltip: {
            formatter: function() {
          	  return '<b>'+ this.series.name +'</b><br/>'+
          		this.x +': '+ this.y;
          	}
          },
      		xAxis: {
      			categories: <%= raw @days %>,
      			labels: {
              // rotation: -45,
      				align: 'center',
      				style: {
      					font: 'normal 13px Verdana, sans-serif'
      				}
            }
      		},
      		yAxis: {
      		  min: 0, 
      			title: {
      				text: ''
      			},
      			plotLines: [{
      				value: 0,
      				width: 1,
      				color: '#808080'
      			}]
      		},
      		series: [{
          	  name: 'Actual',
          	  marker: { symbol: 'circle' },
          	  dataLabels: { enabled: true },
          	  data: <%= @points_remaining %>
          	},{
          	  name: 'Target',
          	  marker: { enabled: false },
          	  color: '#559955',
          	  data: <%= @target_points %>
          	},{
          	  name: 'High',
          	  marker: { enabled: false },
          	  color: '#559955',
          	  dashStyle: 'Dash',
          	  data: <%= @target_high_points %>
          	},{
          	  name: 'Low',
          	  marker: { enabled: false },
          	  color: '#559955',
          	  dashStyle: 'Dash',
          	  data: <%= @target_low_points %>
          	}]
    });
  });
</script>