<table class="table table-condensed table-hover">
  <% @card_days.sort.reverse.each do |day, cards| %>
    <thead>
      <tr>
        <td colspan="3"><h3><%= day.strftime('%A, %B %e, %Y') %></h3></td>
      </tr>
    </thead>
    <tbody>
    <% for card in cards %>
      <tr>
        <td style="white-space:nowrap"><%= render 'card_label', :card => card %></td>
        <td><strong><%= card.summary %></strong></td>
        <td style="white-space:nowrap"><strong><%= card.assignee %><br><%= card.card_status %></strong></td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>