<% if @cards.count == 0 %>
  <div class="alert">No Cards to Display</div>
<% end %>

<% @card_days.sort.reverse.each do |day, cards| %>
  <h2><%= day.strftime('%A, %B %e, %Y') %></h2>
  <% for card in cards %>    
    <% if card.card_type == 'Bug' %>
      <% alertclass = 'alert-error' %>
      <% badgeclass = 'badge-important' %>
    <% elsif card.card_type == 'Story' %>
      <% alertclass = 'alert-success' %>
      <% badgeclass = 'badge-success' %>
    <% else %>
      <% alertclass = 'alert-info' %>
      <% badgeclass = 'badge-info' %>
    <% end %>
    <div class="well <%= alertclass %>" style="padding:10px;">
      <div class="pull-right">
        <% if card.points %>
          <span class="badge <%= badgeclass %>"><%= card.points.to_i %></span>
        <% end %>
        <span class="badge <%= badgeclass %>"><%= card.assignee %> | <%= card.status %> | <%= card.card_updated.in_time_zone("Pacific Time (US & Canada)").strftime('%l:%M %p') %></span>
      </div>
      <h2><%= card.key %></h2>
      <h3><%= card.summary %></h3>
    </div>
  <% end %>
<% end %>