<table class="table">
  <% @card_days.sort.reverse.each do |day, cards| %>
    <thead>
      <tr>
        <td colspan="3"><h3><%= day.strftime('%A, %B %e, %Y') %></h3></td>
      </tr>
    </thead>
    <tbody>
    <% for card in cards %>
      <tr>
        <td style="white-space:nowrap"><%= render 'card_label', :card => card %></td>
        <td><h4><%= card.summary %></h4></td>
        <td style="white-space:nowrap"><h4><%= card.assignee %><br><%= card.card_status %></h4></td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>