<table class="table">
  <thead>
    <tr>
      <th>Team Member</th>
      <th>In Progress</th>
      <th>In Review</th>
      <th>In QA</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |developer,cards| %>
      <tr>
        <td style="width:20%"><%= developer %></td>
        <td style="width:20%"><% cards.each do |card| %><%= render 'card_label', :card => card if card.status == 'In Progress' %><% end %></td>
        <td style="width:20%"><% cards.each do |card| %><%= render 'card_label', :card => card if card.status == 'In Review' %><% end %></td>
        <td style="width:20%"><% cards.each do |card| %><%= render 'card_label', :card => card if card.status == 'Resolved' %><% end %></td>
        <td style="width:20%"><% cards.each do |card| %><%= render 'card_label', :card => card if card.status == 'Closed' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
