<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>To Do</th>
      <th>In Progress</th>
      <th>In QA</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |developer,cards| %>
      <tr>
        <td><%= developer %></td>
        <td><% cards.each do |card| %><%= render 'card_label', :card => card if card.status == 'Open' %><% end %></td>
        <td><% cards.each do |card| %><%= render 'card_label', :card => card if card.status == 'In Progress' %><% end %></td>
        <td><% cards.each do |card| %><%= render 'card_label', :card => card if card.status == 'Resolved' %><% end %></td>
        <td><% cards.each do |card| %><%= render 'card_label', :card => card if card.status == 'Closed' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
