<table class="table">
  <thead>
    <tr>
      <th>To Do</th>
      <th>In Progress</th>
      <th>In QA</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width:25%"><%= render 'bucket', :bucket => @to_do, :state => 'To Do' %></td>
      <td style="width:25%"><%= render 'bucket', :bucket => @in_progress, :state => 'In Progress' %></td>
      <td style="width:25%"><%= render 'bucket', :bucket => @in_qa, :state => 'In QA' %></td>
      <td style="width:25%"><%= render 'bucket', :bucket => @done, :state => 'Done' %></td>
    </tr>

    <tr>
      <td><h6><%= @to_do.count %> Issues | <%= @to_do.sum('points') %> Points</h6></td>
      <td><h6><%= @in_progress.count %> Issues | <%= @in_progress.sum('points') %> Points</h6></td>
      <td><h6><%= @in_qa.count %> Issues | <%= @in_qa.sum('points') %> Points</h6></td>
      <td><h6><%= @done.count %> Issues | <%= @done.sum('points') %> Points</h6></td>
    </tr>
</table>
