<h1>Listing cards</h1>

<table>
  <tr>
    <th>Summary</th>
    <th>Description</th>
    <th>Assignee</th>
    <th>Points</th>
    <th>Status</th>
    <th>Key</th>
    <th>Sprint</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.summary %></td>
    <td><%= card.description %></td>
    <td><%= card.assignee %></td>
    <td><%= card.points %></td>
    <td><%= card.status %></td>
    <td><%= card.key %></td>
    <td><%= card.sprint_id %></td>
    <td><%= card.type %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
